html, body, .grid-container { height: 100%; margin: 0; }
body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.9fr 1.1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    "ourvalues ourvalues ourvalues ourvalues"
    "waystovolunteer waystovolunteer waystovolunteer waystovolunteer"
    "universitychapter universitychapter universitychapter universitychapter"
    "nop nop nop nop"
    "schooloutreach schooloutreach schooloutreach schooloutreach"
    "otherwaystohelp otherwaystohelp otherwaystohelp otherwaystohelp";
}

.header { grid-area: header; }
.header {
  position: relative;
  text-align: center;

}

.header h1 {
  font-size: 70px;
}
.header img {
  vertical-align: text-top;
}
/*.pictureR {
  position: relative; 
float: right;
}

/*.header img{
float:right;
position: fixed;
grid-area: header;

}
*/
.ourvalues { 
  text-align:right;
  grid-area: ourvalues; }
.ourvalues p {
  text-align:left;
}

.waystovolunteer { 
  grid-area: waystovolunteer; }


.waystovolunteer h1 {
  background:#272e7d;
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
  height: 50px;
  width: 400px;
  grid-area: waystovolunteer;
   color: white
}

/*Uni*/
.waystovolunteer h2:nth-child(2) {
 background-color: rgb(196, 214, 201);
 text-align: center;
  display: inline;
  float:right;
  width:30%;
  height: 70px;
  padding:10px;
  margin:5px ;
  position:relative;
  grid-area: waystovolunteer;
   color: white


}
/*

.waystovolunteer :nth-child(3) {
 background-color: rgb(196, 214, 201);
 text-align: center;
  display: inline;
  float:right;
  width:30%;
  height: 70px;
  padding:10px;
  margin: 5px ;
  position:relative;
  grid-area: waystovolunteer;
   color: white



}
.waystovolunteer :nth-child(4) {
 background-color: rgb(196, 214, 201);
 text-align: center;
  display: inline;
  float:right;
  width:30%;
  height: 70px;
  padding:10px;
  margin:5px;
  position:relative;
  grid-area: waystovolunteer;
   color: white

}
*/
.universitychapter { 
  grid-area: universitychapter; }

  .universitychapter h1{
    background:#272e7d;
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
  height: 50px;
  width: 400px;
  grid-area: universitychapter;
  color: white

  }

.nop { grid-area: nop; }
.nop h1{
  background:#272e7d;
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
  height: 70px;
  width: 400px;
  grid-area: nop ;
  color: white

  }

.schooloutreach { grid-area: schooloutreach; }
.schooloutreach h1{
    background:#272e7d;
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
  height: 50px;
  width: 400px;
  grid-area: nop;
  color: white

  }
.otherwaystohelp { grid-area: otherwaystohelp; }

.otherwaystohelp h1{
    background:#272e7d;
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
  height: 30px;
  width: 400px;
  grid-area: otherwaytohelp;
  color: white

  }

  .otherwaystohelp h2 {
  background-color: rgb(196, 214, 201);
  text-align: center;
  display: inline-block;
  padding: 50px;
  margin: 20px;
 position:relative;
  width:30%;
  height: 50px;
  grid-area: waystovolunteer;
   color: white
  }

.otherwaystohelp img {

  display: inline-block;
  block: center;
  padding: 50px;
  margin: 20px;
 position:relative;
  grid-area: otherwaystohelp;
  
  }



.boxingourvalues{
  position: relative;
  float:centre;
  text-align: center;
  padding:15px;
  background:#272e7d; 
  color:#ffffff;
  margin-top:40px;
  margin-bottom:10px;

}
.maintitles {
  float:centre;
  text-align: center;
  padding:15px;
  color:white; 
  margin-top:40px;
  margin-bottom:10px;
}

.boxing1{
  float:centre;
  text-align: center;
  padding:15px;
  color:black;
  margin-top:40px;
  margin-bottom:10px;
}
.boxing2{
  float:centre;
  padding:15px;
  color:black;
  margin-top:40px;
  margin-bottom:10px;
}
.boxing3{
  float:centre;
  padding:15px;
  color:black;
  margin-top:40px;
  margin-bottom:10px;
}
.boxing4{
  float:centre;
  padding:15px;
  color:black;
  margin-top:40px;
  margin-bottom:10px;
}
.boxingheader{
  float:centre;
  text-align: center;
  padding:15px;
  color:#272e7d;
  margin-top:40px;
  margin-bottom:10px;
}