html, body, .grid-container { height: 100%; margin: 0; }
body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.9fr 1.1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    "ourvalues ourvalues ourvalues ourvalues"
    "waystovolunteer waystovolunteer waystovolunteer waystovolunteer"
    "universitychapter universitychapter universitychapter universitychapter"
    "nop nop nop nop"
    "schooloutreach schooloutreach schooloutreach schooloutreach"
    "otherwaystohelp otherwaystohelp otherwaystohelp otherwaystohelp";
}

.header { grid-area: header; }
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}


.ourvalues { 
  text-align:right;
  grid-area: ourvalues; }
.ourvalues p {
  text-align:left;
}

.waystovolunteer { grid-area: waystovolunteer; }

.universitychapter { grid-area: universitychapter; }

.nop { grid-area: nop; }

.schooloutreach { grid-area: schooloutreach; }

.otherwaystohelp { grid-area: otherwaystohelp; }


/* For presentation only, no need to copy the code below 
.grid-container * {
  border: 1px solid red;
  position: relative;
}
*/
