html, body, .grid-container2 { height: 100%; margin: 0; }

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}


.grid-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.9fr 1.1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    "Pastexamples Pastexamples Pastexamples Pastexamples"
    "Requiremnts Requiremnts Requiremnts Requiremnts"
    "FAQ FAQ FAQ FAQ"
    "SIGNUP SIGNUP SIGNUP SIGNUP"
}

.header { grid-area: header; }
.header {
  position: relative;
  text-align: center;
  color: white;
}



.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header {
  position: relative;
  text-align: center;

}

.header h1 {
  font-size: 50px;
}


.Pastexamples { 
  text-align:center;
  grid-area: Pastexamples; }
.Pastexamples p {
  text-align:left;
}
.Requiremnts { grid-area: Requiremnts; }
.Requiremnts h1 {
  background:#272e7d;
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
  height: 50px;
  width: 400px;
  grid-area: Requiremnts;
   color: white
}

.FAQ { grid-area: FAQ; }
 .FAQ h1{
    background:#272e7d;
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
  height: 50px;
  width: 400px;
  grid-area: FAQ;
  color: white

  }

.SIGNUP { grid-area: SIGNUP; }

.SIGNUP {
  position: relative;
  text-align: center;
  color: white;
}

.centered1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  .SIGNUP h1 {
  background:#272e7d;
  height: 50px;
  width: 200px;
  font-size: 30px;
  color: white
}
  .SIGNUP h2{
  text-align: center;
  display: block;
  grid-area: SIGNUP ;
  }


